In [2]:
import pandas as pd

In [3]:
# Read the file line by line
with open("C:/Users/ok/Downloads/data.csv", 'r') as file:
    lines = file.readlines()

In [4]:
#Lets see the columns of the data set
lines[0]

'track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time\n'

As we can see, the first four columons are the identifiers of the given vehicle. They dont change with changing time. However, the next six columns are tiemseries data, where they change with change in time. Hence, lets create a two tables. The first one is the vehicle identifier, which composes if the first four columns that are constatnt for the vehicle over time. THe second table would be a the remaining 6 columns and there changing value over time (time series), and track_id as an identifier.

In [5]:
lines_as_lists = [line.strip('\n').strip().strip(';').split(';') for line in lines]
cols = lines_as_lists.pop(0)

In [8]:
vehicle_col = cols[:4]
trejictory_col = ['track_id'] + cols[4:]

print(vehicle_col)
print(trejictory_col)

['track_id', ' type', ' traveled_d', ' avg_speed']
['track_id', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [9]:
track_info = []
trajectory_info = []

for row in lines_as_lists:
    track_id = row[0]

    # add the first 4 values to track_info
    track_info.append(row[:4])

    remaining_values = row[4:]
    # reshape the list into a matrix and add track_id
    trajectory_matrix = [ [track_id] + remaining_values[i:i+6] for i in range(0,len(remaining_values),6)]
    # add the matrix rows to trajectory_info
    trajectory_info = trajectory_info + trajectory_matrix

In [18]:
#now lets convert them into dataframes
vehicle_data = pd.DataFrame(track_info, columns=vehicle_col)
trajectory_data = pd.DataFrame(trajectory_info, columns=trejictory_col)

In [12]:
vehicle_data.head()

  track_id         type  traveled_d   avg_speed
0        1          Car       48.85    9.770344
1        2   Motorcycle       98.09   19.839417
2        3   Motorcycle       63.80   18.228752
3        4   Motorcycle      145.72   26.229014
4        5   Motorcycle      138.01   24.841425

In [22]:
vehicle_data.shape

(922, 4)

In [19]:
trajectory_data.head()

  track_id         lat         lon    speed   lon_acc   lat_acc       time
0        1   37.977391   23.737688   4.9178    0.0518   -0.0299   0.000000
1        1   37.977391   23.737688   4.9207   -0.0124   -0.0354   0.040000
2        1   37.977391   23.737688   4.9160   -0.0519   -0.0413   0.080000
3        1   37.977390   23.737688   4.9057   -0.0914   -0.0478   0.120000
4        1   37.977390   23.737689   4.8871   -0.1679   -0.0550   0.160000

In [21]:
trajectory_data.shape

(1446887, 7)

In [ ]:
#now lets load them into our database